@import './BlogDetails.scss';

// Comment Section Area ***********************************************
.csbwicon{
    //  border: 1px solid green;
     min-height: 100vh;


  


    .csmain{
        margin: 80px 0 0;
        // border: 1px solid blue;
        position: relative;


        .commwords{
            font-weight: 600;
            font-size: 24px;
        }


        .csucomments{
            // border: 1px solid brown;
            margin: 30px 0 150px;
            
        }

        .csuwritecom{
            // border: 1px solid black;

        }
    }
}


@media only screen and (max-width:360px) {
    
}


