@import './BlogDetails.scss';

.uwcmaincom{
    // border: 1px solid green;
    display: flex;
    margin: 0 0 30px;
    height: 52px;
    position: relative;

    .uwcol1{
        // border: 1px solid blue;
        margin-right: 15px;
       
            min-width: 45px;

            width: 45px;
            height: 45px;
            border-radius: 100%;
            position: relative;

            p{
                font-size: 24px;
                color: white;
                font-weight: 600;
                // border: 1px solid yellow;
                display: block;
                margin: 0 auto ;
                width: fit-content;
                top: 50%;
                margin-top: -18px;
                position: relative;
            }
    }

    form{
        // border: 1px solid red;
        width: 80%;


        input[type=text]{
            font-family: $myFont;
            font-size: 16px;
            width: 100%;
            border: none;
            border-bottom: 2px solid grey;
            padding: 10px;
            margin: 8px 0 0;
        }
        
    }

}


@media only screen and (max-width:330px) {
    .uwcol1{
       
        margin-right: 5px !important;
       
    }
}