*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App{
    // border: 1px solid green;
   

    .greyarea{
      position: absolute;
      width: 30%;
      
      height: 450px;
      right: 4%;
      top: 0px;
      z-index: -1;

      background: #F9F9F9;
    }
}


/* Medium devices (landscape tablets,850px and down) ************************************/
@media only screen and (max-width: 850px) {

  .greyarea{
    display: none;
  }
}